@import "./button-variables";

.ant-btn-text {
  color: @btn-primary-bg;

  &:focus,
  &:hover {
    color: @btn-primary-bg;
  }
}

.ant-btn-text.ant-btn-dangerous {
  &:focus,
  &:hover {
    background: @red-hover-bg;
  }
}
