@import '../../styles/config';

.argo-notifications-list {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    box-shadow: 2px 0 6px rgba(#000, .3);
}

.argo-notification {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $top-bar-height;
    padding: 0 60px 0 30px;
    line-height: $top-bar-height;
    font-size: 20px;
    color: #fff;

    &__content {
        position: absolute;
        left: 65px;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 60px;
    }

    &.success {
        background-color: $argo-success-color;
    }

    &.warning {
        background-color: $argo-status-warning-color;
    }

    &.error {
        background-color: $argo-failed-color;
    }

    &__ico {
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid rgba(#fff, .4);
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
