@import '../../styles/colors.scss';

.code-editor {
    height: 100%;
    &--editor {
        box-sizing: border-box;
        padding: 10px 0;
        font-family: monospace;
        appearance: none;
        resize: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid $argo-color-gray-4;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
