@import '../../styles/config';
@import '../../styles/theme';

$popup-border-radius: 8px;

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    // Just in case the theme class is not added
    background-color: rgba(222, 222, 222, 0.62); /*dim the background*/
    @include themify($themes) {
        background-color: themed('overlay');        
    }

    .popup-container {
        position: relative;
        @include themify($themes) {
            box-shadow: 3px 3px 20px themed('shadow');
        }
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        min-width: 400px;
        max-width: 1000px;
        max-height: 600px;
        z-index: 20;
        border-radius: $popup-border-radius;
        overflow: auto;

        &__header {
            line-height: 60px;
            padding-left: 30px;
            height: 60px;
            border-top-right-radius: $popup-border-radius;
            border-top-left-radius: $popup-border-radius;

            h2 {
                margin-left: 5%;
                line-height: 50px;
            }

            i {
                font-size: 21px;
                float: right;
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
            }

            &__normal {
                // Just in case the theme class is not added
                background-color: $argo-color-gray-2;
                @include themify($themes) {
                    background-color: themed('light-argo-gray-2');
                }
            }
    
            &__red {
                background-color: $argo-color-red;
                color: $argo-color-gray-1;
            }

            &__yellow {
                background-color: $argo-color-yellow;
            }    
        }

        &__footer {
            // Just in case the theme class is not added
            background-color: $argo-color-gray-1;
            @include themify($themes) {
                background-color: themed('background-2');        
            }
            bottom: 0;
            padding-top: 20px;
            padding-left: 30px;
            padding-bottom: 30px;
            border-bottom-right-radius: $popup-border-radius;
            border-bottom-left-radius: $popup-border-radius;

            & > .ax-button {
                min-width: 120px;
                margin-right: 20px;
            }

            &--additional-padding {
                padding-left: 135px;
            }
        }

        &__body {
            // Just in case the theme class is not added
            background-color: $argo-color-gray-1;
            @include themify($themes) {
                background-color: themed('background-2');        
            }

            &__hasNoIcon {
                padding-left: 30px;
            }

            h4, p {
                margin-right: 10px;
                word-wrap: break-word;
            }

            h4 {
                margin-top: 40px;
                font-size: 15px;
                font-weight: bold;
            }

            p {
                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
                // Just in case the theme class is not added
                color: $argo-color-gray-6;

                @include themify($themes) {
                    color: themed('light-argo-gray-6');        
                }
            }
        }

        &__icon {
            display: inline-flex;
            align-items: center;
            max-width: 120px;

            & > i {
                margin-left: 5px;
                font-size: 80px;

                &.warning {
                    color: $argo-color-yellow;
                }

                &.success {
                    color: $argo-success-color;
                }

                &.failed {
                    color: $argo-failed-color;
                }
            }
        }
    }
}
