@import '../../styles/config';
@import 'node_modules/xterm/dist/xterm';

.logs-viewer {
    font: normal 13px/1.2 'Courier', sans-serif;
    line-height: 20px;
    height: 100%;
    overflow: hidden;

    &__container {
        height: 100%;
    }  
}


.xterm-theme-ax {
    background-color: transparent;
    color: $argo-color-gray-7;
    .xterm-viewport {
        background-color: transparent;
    }

    .terminal-cursor {
        background-color: transparent !important;
    }
}
