@import '../../styles/config';

.page {
    padding-left: $nav-width;

    &__content-wrapper {
        position: relative;
        display: block;
        min-height: 100vh;
        margin: 0 auto;
        overflow: hidden;
    }
}
