@import '../../styles/colors.scss';

.checkbox {
    $size: 1.25em;
    width: $size;
    height: $size;
    padding: 3px;
    border: 2px solid $argo-color-gray-7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0);

    &--selected {
        border-color: $argo-color-teal-6;
        background-color: $argo-color-teal-6;
        color: white;
    }
}
