@import '../../styles/colors.scss';

.checkbox {
    $size: 1.25em;
    width: $size;
    height: $size;
    padding: 3px;
    border: 2px solid $argo-color-gray-7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0);

    &--selected {
        border-color: $argo-color-teal-6;
        background-color: $argo-color-teal-6;
        color: white;
    }

    &__item {
        height: 2em;
        padding: 0 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: white;
        transition: background-color 200ms ease;
        margin: 0.25em 0;
        cursor: pointer;
        flex-wrap: nowrap;

        &__label {
            text-overflow: ellipsis;
            flex-grow: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        &--selected {
            background-color: $argo-color-teal-3;
            color: $argo-color-teal-8;
            font-weight: 500;
        }
    }
}
