@import '../../styles/config';
@import 'node_modules/xterm/css/xterm';

.logs-viewer {
    font: normal 13px/1.2 'Courier', sans-serif;
    line-height: 20px;
    height: 100%;
    overflow: hidden;

    &__container {
        height: 100%;
    }
}
