name: Build v1

on:
  push:
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 14.15
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      - run: yarn tsc -p tsconfig.json
      - run: yarn test --ci --runInBand
